# extension
*.o
*.exe
*.a

# cache dir
.deps
.dirstamp
autom4te.cache

# auto generate files
Makefile
config.h
config.log
config.status
doc/dblocation.texi
gl/lib/alloca.h
gl/lib/arg-nonnull.h
gl/lib/c++defs.h
gl/lib/charset.alias
gl/lib/configmake.h
gl/lib/ctype.h
gl/lib/dirent.h
gl/lib/fcntl.h
gl/lib/fnmatch.h
gl/lib/inttypes.h
gl/lib/langinfo.h
gl/lib/locale.h
gl/lib/math.h
gl/lib/ref-add.sed
gl/lib/ref-del.sed
gl/lib/selinux/
gl/lib/stdio.h
gl/lib/stdlib.h
gl/lib/string.h
gl/lib/strings.h
gl/lib/sys/
gl/lib/time.h
gl/lib/unistd.h
gl/lib/unitypes.h
gl/lib/uniwidth.h
gl/lib/unused-parameter.h
gl/lib/warn-on-use.h
gl/lib/wchar.h
gl/lib/wctype.h
locate/dblocation.texi
locate/updatedb
po/Makefile.in
po/POTFILES
stamp-h1
tests/arg-nonnull.h
tests/arpa/
tests/c++defs.h
tests/signal.h
tests/sys/
tests/unused-parameter.h
tests/warn-on-use.h
